<%- include('includes/header') %>

    <div class="container">
        <h2></h2>
        <br/>
        <br/>
        <button id="openAddBookModal" class="btn btn-primary">Add A Book</button>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(results !== null){
                    results.forEach(function(book , index , array){%>

                    <tr id="bookRow-<%= book.BOOKID%>">
                        <td id="title-<%= book.BOOKID%>">
                            <%= book.TITLE%>
                        </td>
                        <td id="isbn-<%= book.BOOKID%>">
                            <%= book.ISBN%>
                        </td>
                        <td id="amount-<%= book.BOOKID%>">
                            <%= book.AMOUNT%>
                        </td>
                        <td>
                            <span id="edit-<%= book.BOOKID%>" class="glyphicon glyphicon-pencil rowglyph"> </span>
                            <span id="save-<%= book.BOOKID%>" style="display: none" class="glyphicon glyphicon-floppy-disk rowglyph"> </span>
                            <span id="del-<%= book.BOOKID%>" class="glyphicon glyphicon-trash rowglyph"> </span>
                        </td>
                    </tr>
                    <% })}; %>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="addBook-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" id="info-modal-content">
                <div class="modal-header">
                        <h4>Add a Book</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addBookForm" action="/addBook" method="post" role="form">
                        <input id="titleInput" name="title" type="text" style="margin: 0 auto; width: 200px;" class="form-control" name="title" placeholder="Enter Title"
                            required>
                        </input>
                        <input id="isbnInput" name="isbn" type="number" style="margin: 0 auto; width: 200px;" class="form-control" name="isbn" placeholder="Enter ISBN"
                            required>
                        <input id="amountInput" name="amount" type="number" style=" margin: 0 auto; width: 200px;" class="form-control" name="amount"
                            placeholder="Enter Price" required>
                    </form>
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                    <button name="" id="submitAddBookBtn" type="submit" class="btn btn-primary">Add Book </button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="deleteBook-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4> Confirm Deletion</h4>
                </div>
                <div class="modal-body">
                    <h1 id="deleteH1"> </h1>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                    <button name="" id="deleteBookBtn" type="submit" class="btn btn-primary">Delete Book </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src = "/assets/js/crudTable.js"></script>
    </body>

    </html>