<%- include('includes/header') %>

        <div class="container">
            <h2></h2>
            <br/>
            <br/>
            <h1> To Edit Or Add Books<a href="/login"> LOGIN</a></h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(results !== null){
                        results.forEach(function(book , index , array){%>

                        <tr id="bookRow-<%= book.BOOKID%>">
                            <td>
                                <%= book.TITLE%>
                            </td>
                            <td>
                                <%= book.ISBN%>
                            </td>
                            <td>
                                <%= book.AMOUNT%>
                            </td>
                        </tr>
                        <% })}; %>
                </tbody>
            </table>
        </div>

    </body>

</html>