extends layout

block content
  .container
    .wrapper
      form.simple-form(method='post', action='/login')
        h2.form-signin-heading Please login
        label
          | Profile: 
          input.form-control(type='text', required='', name='profile', value=profile)
        br
        label
          | Password: 
          input.form-control(type='password', required='', name='password')
        button.btn.btn-lg.btn-primary(type='submit') Login
    if messages
      .alert.alert-info(role='alert')
        p=messages
